:root{
    --black: #2d2d2d;
    --white: #fff;
}


*{
    font-family: 'Epilogue', sans-serif;
}

.wrapper{
    padding: 0 60px;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
}
.header__logo {
    
}
.header__nav {
    display: flex;
    column-gap: 50px;
}

.header__link {
   text-decoration: none;
   color: var(--black);
}
/* Visual designer  */

.visual-designer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 720px;
    align-items: center;
    margin: 0px 0px 60px 0px;
}
.visual-designer__left {
    display: flex;
    flex-direction: column;
}
.visual-designer__subtitle {
    margin:0px 0px 45px 0px;
    font-size: 1.2rem;
}
.visual-designer__title {
    font-size: 6.2rem;
    margin:0px 0px 50px 0px;
    width: 463px;
}
.visual-designer__text {
    width: 417px;
    font-size: 1.1rem;
}
.visual-designer__right {
}

.companies{
    display: flex;
    justify-content: space-evenly;
}
